<!-- When only one of the things is needed to be shifted and not everything,
we use margin-top/bottom and not justify content -->
<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy;Yelp Camp 2022</span>
    </div>
</footer>